@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
.catagories{
    margin-left: -20px;
    overflow: hidden;
    margin-top: 100px;
}
.catagories .home2{
    float: right;
    width: 82.5%;
    font-size: medium;
    font-family: 'Lato', sans-serif;
    padding: 20px;
}
.catagories Link{
    text-decoration: none;
    color: gray;
    font-size: 50px;
}
.catagories .head{
    color: rgb(78, 78, 78);
    float: left;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid grey;
}
.catagories .addnew{
    text-align: center;
    color: white;
    font-size: 20px;
    padding-left: 20px;
}
.catagories .addnew button{
    border-style: none;
    font-size: 20px;
    padding-left: 4px;
}
.catagories .addnew .icon{
    width: 35px !important;
    height: 35px !important;
    color: white;
    border-radius: 5px; 

}  
 #table{
    width: 70%;
    margin-left: 21%;   
}
.catagories .table {
    width: 100%;
    border-collapse: collapse;
  }
/*   
  .catagories .table th,
  .catagories .table td {
    border: 2px solid rgb(160, 255, 156);
    padding: 8px;
    text-align: left;
  }
  
  .catagories .table th {
    background-color: #d5b2b2;
  }

  
  .catagories .table-row-even {
    background-color: rgb(144, 138, 138);
  }
  
  .catagories .table-row-odd {
    background-color: white;
  }
   */

.add{
    margin-top: 70px;
    margin-left: -20px;
    overflow: hidden;
}
.add .home3{
    float: right;
    width: 82.5%;
    font-size: medium;
    font-family: 'Lato', sans-serif;
    padding: 20px;
}
.add Link{
    text-decoration: none;
    color: gray;
    font-size: 50px;
}
.add .container{
    margin-left: 15%;
}
.add .goback{
    text-align: center;
    color: white;
    font-size: 20px;
    padding-left: 20px;
}
.add .goback .icon{
    width: 35px !important;
    height: 35px !important;
    color: white;
    border-radius: 5px; 

}