.side-menu {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0;
  background-color: #333;
  color: white;
  padding-top: 70px;
  overflow-y: auto; /* Enable vertical scrolling */

  /* You may want to add a max-height to limit the scrolling if needed */
  /* max-height: 100%; */
}

.side-menu ul {
  list-style: none;
  padding: 0;
}

.side-menu li {
  margin-bottom: 10px;
  text-decoration: none;
}
.side-menu li:hover{
 background-color: rgb(161, 158, 158);
}
.side-menu a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding-left: 10px;
}

.side-menu a:hover {
  color: rgb(32, 32, 128);
}
.side-menu .downicon{
  margin-left: 110px;
}
